# Configurações do Banco de Dados (PostgreSQL)
# Use Supabase, Neon ou Vercel Postgres
DATABASE_URL=postgres://usuario:senha@host:porta/database

# Segurança
JWT_SECRET=sua_chave_secreta_aqui

# Ambiente
NODE_ENV=production
